/*
 Theme Name:   Pad Child
 Theme URI:    https://tnotw.com/pad-theme
 Description:  Pad Child Theme
 Author:       Wes Kempfer
 Author URI:   https://tnotw.com
 Template:     pad
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  pad-child
*/

$bp-tablet-desktop: 992px ;
$bp-mobile-tablet: 768px;
$bp-mobile-iphone-6: 414px;
$bp-mobile-iphone-5: 375px;
$bp-mobile-android: 385px;


#masthead {
  text-align: center ;
}

.navbar-header .navbar-toggle {
  float: left;
}

@media ( min-width: $bp-tablet-desktop  ) {
  #primary-menu-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  #site-navigation {
    position: relative;
    margin-bottom: 0;
  }

  #site-navigation.navbar-custom.affix {
    height: 200px !important;
  }

  #masthead {
    margin-top: 50px ;
  }

}

.thin-border {
   border-width: 1px;
   border-style: solid;
   border-color: #ddd;
   border-color: rgba(0,0,0,0.13);
   padding: 1px ;
   margin-left: -2px;
   margin-right: -2px;
}

.blog-separator {
  clear: both;
  border-bottom: 1px solid #ddd;
  padding-top: 2px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 2px;
  height: 2px;
}

// Footer
footer {
  color: $footer-color;
  background-color: $footer-background-color;


  h3,h4,h5,h6{
    color: $footer-color;
  }

  a {
    color: $theme-primary;
    &:visited {
      color: $theme-primary;
    }
    &:hover {
      color: $gray-base ;
    }
  }

  .site-info {
    font-size: 0.8em;
  }


}

#colophon {
  h1,h2,h3,h4,h5,h6{
    color: $footer-color;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 0.9em;
    text-align: left;
  }

  a {
    color: $theme-primary;
    &:visited {
      color: $theme-primary;
    }
    &:hover {
      color: $gray-base ;
    }
  }
}

.entry-footer {
  color: $theme-text-color;
  background-color: $theme-white;
  a {
    color: $theme-text-color;
    &:visited {
      color: $theme-text-color;
    }
  }


}
.column-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
}

// Header
header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  text-align: center;
  color: $theme-header_font_color;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}

@media(min-width: $bp-tablet-desktop ) {
  header {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}

#header-full-width {
  padding: 0;
  margin-top: $nav-margin;
  .full-width-header-text {
    font-size: 50px;
    text-align: center;
  }
  @media screen and ( max-width: 991px ) {
    margin-top: 35px;
  }
}

.header-full-width section {
  padding: 0;
}

// Headings
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2.entry-title {
  margin-bottom: 0;
}

.entry-meta {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 2px 0;
}

.entry-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}

// Lists
ul, ol {
  text-align: left;
  margin: 0 0 1em 1em;
}

ul {
  list-style: disc;
  li {
    list-style-type: disc;
  }
}

ol {
  list-style: decimal;
  padding-left: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

#colophon {

  ul {
    li {
      @include list-bullets("\f111");
      ul li {
        @include list-bullets("\f10c");
      }
    }
  }
}

h1.entry-title,
h2.entry-title {
  text-align: left;
}

h1.entry-title {
  font-size: 1.7em;
}

h2.entry-title {
  font-size: 1.6em;
}

h1.site-title {
  @media screen and ( max-width: 768px ) {
    font-size: 20px;
  }
}

#secondary {

  margin-top: 30px;

  h1, h2, h3 {
    color: $gray-base;
  }

  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 15px;
  }
}

// Widgets
.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

#secondary {
  ul {
    margin-left: 0;
  }
}

.widget_archive,
.widget_categories {
  ul {
    li {
      list-style-type: none;
    }
  }
}


/*
*
* Fix twitter share button
*
*/
.sharedaddy {

  margin-top: 20px ;
  .twitter-share-button {
    margin-top: 0;
  }
}

/*line divider in multi-select*/
.separator {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: .625em 0;
}


.banner-content {
  h1 {
    font-size: 48px;
    color: $theme-white !important;
    @media screen and ( max-width: 1200px ) {
      font-size: 36px;
    }
    @media screen and ( max-width: 835px ) {
      font-size: 24px;
    }
  }
  p {
    font-size: 22px;
    font-family: Raleway, san-serif;
    color: $theme-white;
    margin-bottom: 0.5em;
    @media screen and ( max-width: 1200px ) {
      font-size: 16px;
    }
    @media screen and ( max-width: 835px ) {
      font-size: 14px;
    }
  }
  a {
    font-size: 16px;
    font-family: Raleway, san-serif;
    color: $theme-white;
    text-transform: uppercase;
    @media screen and ( max-width: 1200px ) {
      font-size: 14px;
    }
    @media screen and ( max-width: 835px ) {
      font-size: 12px;
    }
  }
}

@media (max-width: 991px ) {
  #site-navigation {
    min-height: 75px;
  }
  #header-full-width {
    margin-top: 75px !important;
  }

  .banner-slider {
    img {
      min-height: 300px;
      max-width: initial !important;
      width: initial !important;
    } 
  }
}

@media (max-width: 768px ) { 
  .row.slider-width {
    margin-top: 0 !important;
  }

  .header-full-width section {
    margin-top: 0 !important;
  }
}

@media (max-width: 1060px ) {
  .nav>li>a {
    padding: 10px 6px;
  }
} 
