
.notice-header {
    background: #5199a8;
    color: white;
    padding: 15px;
    margin: 10px auto;
}
.hoverable .awpcp-listing-primary-image-listing-link{
  cursor: pointer;
  &:hover h3 { 
    color: #5199a8;
    font-weight: 900;
  }
}
.row.slider-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
.displayaditemseven,
.displayaditemsodd {
  margin-top: 25px;
  margin-bottom: 25px;

  .ad-thumbnail {
    padding: 5px;
    float: left;
    margin:20px 20px 0 0;
  }
  .ad-content {
    word-wrap: break-word;
    width: 80%;
    padding: 5px;
    float: left;
    padding-bottom: 20px;
  
  }
  .ad-meta {
      padding: 5px;
      float: right;
      margin-right: 20px;
      text-align: right;
  }
}

.showawpcpadpage {
  word-wrap: break-word;

}


.browse-listings,
.search-listings,
.post-listing {
  display: none;
}

.fixfloat {
  margin-top: 25px;
  .tw_button {
    float: left;
    margin-right: 20px;
  }
  .twitter-share-button {
    margin-top: 0;
  }
}

#showawpcpadpage {
  padding: 1em;
}

/*
.showawpcpadpage ul li,
#classiwrapper ul li {
  list-style-type: disc !important;
  list-style-position: inside;
}
*/

#classiwrapper .awpcp-search-ads-form,
#classiwrapper .awpcp-details-form {
  .awpcp-multiple-region-selector {
    li.awpcp-region-selector {
      list-style-type: none !important;
      ul.awpcp-region-selector-partials {
        list-style-type: none !important;
        li.awpcp-region-selector-partial {
          list-style-type: none !important;
        }
      }
    }
  }
}

#classiwrapper ul {
  li.post-listing,
  li.edit-listing,
  li.browse-listings,
  li.search-listings {
    list-style-type: none !important;
  }
}

#search-notices {
  // Categories
  #pn-category-checkbox label {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 10px 10px 10px 0;
    .highlighted {
      background: #5199a8;
    }
  }
  input.pn-category-checkbox {
      margin-left: 0px;
  }
  .row.keywords-form-group  {
    width: 100%;
  }

  .btn-default {
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
    &:hover {
      background-color: #adadad !important;
    }
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid $gray-dark;
    border-radius: 4px;
    box-shadow: none;
  }
  .date-range {
    display:flex;
    flex-flow: row nowrap;
    margin-left: 17px;
    h4 {
      width: 100%;
    }
    .pn-date-input {
      display: flex;
      .pn-from-date-input {
        margin-left: 0px;
      }
      label {
        display: none;
      }
      button.pn-date-btn  {
        padding: 9px 11px;
        margin: 29px 0 0 7px;
      }
    }
   
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      padding: 10px;
      margin: 3px 0 0 0;
    }
    .uib-datepicker-popup  {
      padding-right: 15px;
      list-style-type: none;
      li {
        list-style-type: none;

      }
      li:focus {
        outline: none;
      }
      .uib-datepicker:focus {
        outline: none;
      }
      div:focus {
        outline: none;
      }
    }
  }
}
.spinner {margin-top: 6%;}
.awpcp-listing-primary-image-listing-link.is-flex{
  display: flex;
  flex-wrap: wrap;
  color: #666;
  .content-wrapper-flex {
    display: flex;
    flex-direction: row;
  }
  
  .meta-wrapper-flex {
    display: flex;
    flex-direction: column;
    flex: 1;
    .ad-meta.top {
      margin-top: 0;
      margin-bottom: auto;
      line-height: 125%
    }
    .ad-meta.bottom {
      margin-top: auto;
      margin-bottom: 0;
    } 
  }
}
.meta-detail {
  display: flex;
  justify-content: space-around;
  margin: 2.5% auto;
  padding: .625em 0;
  width: 100%;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  font-style: italic;
  color: #666;
}
.notice-listing-details {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
 
.modal-header {
  border-bottom: none;
  h3 {
    font-weight: 900;
  }
  .notice-detail-meta {
    margin-bottom: 0;
  }
}
img.modal-image {
    width: 100%;
}
.notice-detail-meta {
  margin-bottom: 20px;
  font-size: 0.9em;
  font-style: italic;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 4px 0;
}

#pn-county-checkbox {
  .pn-region-label {
    margin-right: 15px;
  }

  .pn-region-checkbox {
    margin-right: 2px;
  }

}

.city-collapse-expanded {
  display: block;
  margin-top: 1em;
}
.filter-feedback-content {
  color: #333;
  border: #ddd 1px solid;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 8px;
}
.filter-feedback-heading {
  font-weight: bold;
  float: left;
  width: 100%;
  background: #f5f5f5;
  padding: 4px;
  &:after {
    content: ":";
    margin-right: 0.8em;
  }
}
.filter-feedback-section {
  background:white;
  padding: 8px;
}
.filter-feedback-label {
  width: 100%;
  float: left;
  font-style: normal;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 14px 0 8px 0;
  text-align: center;
  background: #5199a8;
  color: white;
  font-family: 'Lora';
  font-size: 17px;
}

.filter-feedback-status {
  font-style: italic;
  &:before {
    // content: "[";
    margin-right: 0.5em;
  }
  &:after {
    // content: "]";
  }


}

.show-archived-container {
  margin-top: 15px;
}

.reset-filter-contaniner {
  text-align: center;
  margin-top: 15px;
}

body .awpcp-ad-primary-image {
  float: none !important;
  clear:both;
  .thumbnail {
    border:none;
  }
}

#displayimagethumbswrapper #displayimagethumbs.img-modal {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    li {
      display: block;
      margin: 10px auto;
      padding: 3px;
      text-align: center;
      a {
        padding: 3px;
      }
    } 
  }
}
span.entity-phone, 
span.attorney-bar {
  white-space: nowrap;
}

.notice-detail-well {
  border-radius: 1px;
  background-color: $theme-white;
}
@media (min-width: 1199px){
  #displayimagethumbswrapper #displayimagethumbs.img-modal ul {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
 
  .meta-detail {
    font-size: 12px;
    flex-flow: wrap;
    justify-content: center;
    span {
      margin: 0 1%;
    }
  }
}
 
@media(max-width:$bp-mobile-tablet) {
  .row.slider-width {
      margin-top: 13px;
  }
  #search-notices .date-range {
    input[type="text"] {
      padding: 4.5px;
    }
  }
  .ad-meta.top h5 {
    font-size: 11px;
  }
  .filter-feedback-status {
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  #search-notices #pn-category-checkbox label {
    padding: 4px;
    margin: 4px 4px 4px 0;
 }
  #search-notices .date-range {
    flex-flow: column;
  }
  .well-lg {
    padding: 9px;
    .modal-body {
      padding: 0;
    }
  }
  .filter-feedback-heading { 
    padding: 0;
  }
  .awpcp-listing-primary-image-listing-link.is-flex .content-wrapper-flex {
    flex-direction: column;
  }
  .modal-content .awpcp-ad-primary-image {
    padding-left: 0;
    float: none;
  }
  #displayimagethumbswrapper #displayimagethumbs.img-modal ul li {
      margin: 0;
  }
  body .awpcp-ad-primary-image .thumbnail {
    border: none;
  }
  .displayaditemseven .ad-thumbnail, 
  .displayaditemsodd .ad-thumbnail {
    margin:auto;
  }
  .displayaditemseven .ad-content, 
  .displayaditemsodd .ad-content {
    width: 98%;
  }
}


@media (max-width: 375px) {
  // .row.slider-width {
  //   margin-top: 129px;
  // }
}
