.notice-header {
  background: #5199a8;
  color: white;
  padding: 15px;
  margin: 10px auto; }

.row.slider-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

.displayaditemseven,
.displayaditemsodd {
  margin-top: 25px;
  margin-bottom: 25px; }
  .displayaditemseven .ad-thumbnail,
  .displayaditemsodd .ad-thumbnail {
    padding: 5px;
    float: left;
    margin: 20px 20px 0 0; }
  .displayaditemseven .ad-content,
  .displayaditemsodd .ad-content {
    word-wrap: break-word;
    width: 80%;
    padding: 5px;
    float: left;
    padding-bottom: 20px; }
  .displayaditemseven .ad-meta,
  .displayaditemsodd .ad-meta {
    padding: 5px;
    float: right;
    margin-right: 20px;
    text-align: right; }

.showawpcpadpage {
  word-wrap: break-word; }

.fixfloat {
  margin-top: 25px; }
  .fixfloat .tw_button {
    float: left;
    margin-right: 20px; }
  .fixfloat .twitter-share-button {
    margin-top: 0; }

#showawpcpadpage {
  padding: 1em; }

.showawpcpadpage ul li,
#classiwrapper ul li {
  list-style-type: disc !important;
  list-style-position: inside; }

#classiwrapper .awpcp-search-ads-form .awpcp-multiple-region-selector li.awpcp-region-selector,
#classiwrapper .awpcp-details-form .awpcp-multiple-region-selector li.awpcp-region-selector {
  list-style-type: none !important; }
  #classiwrapper .awpcp-search-ads-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials,
  #classiwrapper .awpcp-details-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials {
    list-style-type: none !important; }
    #classiwrapper .awpcp-search-ads-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials li.awpcp-region-selector-partial,
    #classiwrapper .awpcp-details-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials li.awpcp-region-selector-partial {
      list-style-type: none !important; }

#classiwrapper ul li.post-listing,
#classiwrapper ul li.edit-listing,
#classiwrapper ul li.browse-listings,
#classiwrapper ul li.search-listings {
  list-style-type: none !important; }

#search-notices #pn-category-checkbox label {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 10px 10px 10px 0; }
  #search-notices #pn-category-checkbox label .highlighted {
    background: #5199a8; }
#search-notices input.pn-category-checkbox {
  margin-left: 0px; }
#search-notices .row.keywords-form-group {
  width: 100%; }
#search-notices .btn-default {
  color: #333 !important;
  background-color: #fff;
  border-color: #ccc; }
  #search-notices .btn-default:hover {
    background-color: #adadad !important; }
#search-notices .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  box-shadow: none; }
#search-notices .date-range {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 17px; }
  #search-notices .date-range h4 {
    width: 100%; }
  #search-notices .date-range .pn-date-input {
    display: flex; }
    #search-notices .date-range .pn-date-input .pn-from-date-input {
      margin-left: 0px; }
    #search-notices .date-range .pn-date-input label {
      display: none; }
    #search-notices .date-range .pn-date-input button.pn-date-btn {
      padding: 9px 11px;
      margin: 29px 0 0 7px; }
  #search-notices .date-range .input-group-btn:last-child > .btn, #search-notices .date-range .input-group-btn:last-child > .btn-group > .btn, #search-notices .date-range .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 10px;
    margin: 3px 0 0 0; }
  #search-notices .date-range .uib-datepicker-popup {
    padding-right: 15px;
    list-style-type: none; }
    #search-notices .date-range .uib-datepicker-popup li {
      list-style-type: none; }
    #search-notices .date-range .uib-datepicker-popup li:focus {
      outline: none; }
    #search-notices .date-range .uib-datepicker-popup .uib-datepicker:focus {
      outline: none; }
    #search-notices .date-range .uib-datepicker-popup div:focus {
      outline: none; }

.awpcp-listing-primary-image-listing-link.is-flex {
  display: flex;
  flex-wrap: wrap;
  color: #666; }
  .awpcp-listing-primary-image-listing-link.is-flex .content-wrapper-flex {
    display: flex;
    flex-direction: row; }
    .awpcp-listing-primary-image-listing-link.is-flex .content-wrapper-flex h3 {
      font-weight: 900;
      color: #5199a8; }
  .awpcp-listing-primary-image-listing-link.is-flex .meta-wrapper-flex {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .awpcp-listing-primary-image-listing-link.is-flex .meta-wrapper-flex .ad-meta.top {
      margin-top: 0;
      margin-bottom: auto; }
    .awpcp-listing-primary-image-listing-link.is-flex .meta-wrapper-flex .ad-meta.bottom {
      margin-top: auto;
      margin-bottom: 0; }

.notice-listing-details {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.modal-content .modal-header {
  border-bottom: none; }
  .modal-content .modal-header h3 {
    font-weight: 900; }
  .modal-content .modal-header .notice-detail-meta {
    margin-bottom: 0; }
.modal-content .modal-body .awpcp-ad-primary-image {
  float: none !important;
  clear: both; }
  .modal-content .modal-body .awpcp-ad-primary-image .thumbnail {
    border: none; }

.notice-detail-meta {
  margin-bottom: 20px;
  font-size: 0.9em;
  font-style: italic;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 4px 0; }

#pn-county-checkbox .pn-region-label {
  margin-right: 15px; }
#pn-county-checkbox .pn-region-checkbox {
  margin-right: 2px; }

#region-filter-container {
  margin-top: 2em; }

.city-collapse-expanded {
  display: block;
  margin-top: 1em; }

.filter-feedback-heading {
  font-weight: bold;
  float: left; }
  .filter-feedback-heading:after {
    content: ":";
    margin-right: 0.8em; }

.filter-feedback-label {
  font-style: normal; }

.filter-feedback-status {
  font-style: italic; }
  .filter-feedback-status:before {
    content: "[";
    margin-right: 0.5em; }
  .filter-feedback-status:after {
    content: "]"; }

#displayimagethumbswrapper #displayimagethumbs.img-modal {
  padding-left: 20px; }
  #displayimagethumbswrapper #displayimagethumbs.img-modal ul li {
    display: inline-block;
    margin: 10px 3px;
    padding: 3px; }
    #displayimagethumbswrapper #displayimagethumbs.img-modal ul li a {
      padding: 3px; }

.notice-detail-well {
  border-radius: 1px; }

@media (max-width: 992px) {
  .row.slider-width {
    margin-top: 27px; } }
@media (max-width: 768px) {
  .row.slider-width {
    margin-top: 13px; }

  #search-notices .date-range input[type="text"] {
    padding: 4.5px; } }
@media (max-width: 414px) {
  .row.slider-width {
    margin-top: 91px; }

  #search-notices .date-range {
    flex-flow: column; }

  .awpcp-listing-primary-image-listing-link.is-flex .content-wrapper-flex {
    flex-direction: column; }

  .modal-content .awpcp-ad-primary-image {
    padding-left: 0;
    float: none; }

  #displayimagethumbswrapper #displayimagethumbs.img-modal ul li {
    margin: 0; }

  body .awpcp-ad-primary-image .thumbnail {
    border: none; }

  .displayaditemseven .ad-thumbnail,
  .displayaditemsodd .ad-thumbnail {
    margin: auto; }

  .displayaditemseven .ad-content,
  .displayaditemsodd .ad-content {
    width: 98%; } }

/*# sourceMappingURL=_notices.css.map */
