<div class="notice-detail-container">
    <div class="container-fluid notice-detail" ng-class="publicNoticeSearch.noticeDetailClass">
        <div class="modal-header">
            <button class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <h2 class="text-center">{{ notice.notice.ad_title }}</h2>
            <div class="meta-detail">
              <span class="text-center"><strong>{{ publicNoticeSearch.localizations.publishedDateLabel }}</strong> {{ notice.startDate | date : "MMM d, y"  }}</span> | <span class="text-center"><strong>Active:</strong> {{ notice.startDate | date : "MMM d, y" }}</span> |  <span class="text-center"><strong>Inactive:</strong> {{  notice.endDate | date : "MMM d, y" }}</span> | <span class="text-center""><strong>{{ publicNoticeSearch.localizations.categoryLabel}}:</strong> {{ notice.category }} </span> | <span class="text-center"><strong>Notice Id:</strong> {{notice.notice.ad_id}}</span>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="col-xs-12 col-sm-7">
                  <span ng-bind-html="notice.notice.ad_details"></span>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <div class="awpcp-ad-primary-image">
                      <a class="awpcp-listing-primary-image-thickbox-link thickbox" ng-click="publicNoticeSearch.displayModalImage( notice, 0 )" rel="awpcp-gallery-20"><img class="thumbshow" src="{{ notice.thumbLarge}}" width="300" height="300" scale="0"></a>
                      <a class="thickbox enlarge" href="{{notice.media}}">{{ publicNoticeSearch.localizations.clickToEnlarge }}</a>
                  </div>
                  <div id="displayimagethumbswrapper">
                     <div id="displayimagethumbs" class="img-modal">
                         <ul>
                            <li class="col-xs-3 col-sm-5" ng-repeat="thumb in notice.thumbs">
                            <a class="awpcp-listing-primary-image-thickbox-link thickbox thumbnail"  ng-click="publicNoticeSearch.displayModalImage( $parent.notice, $index )" >
                               <img class="thumbshow" ng-src="{{thumb}}">
                            </a>
                            </li>
                          </ul>
                      </div>
                    </div>   
                </div>          
                  <h5><strong>{{publicNoticeSearch.localizations.responsibleEntityContactInfoLabel}}  </strong></h5>
                  <a title="Email the Responsible Entity" href="https://oregonpen.wpengine.com/another-wordpress-classifieds-plugin/reply-to-notice/?i={{notice.notice.ad_id}}">
                  <h6>{{publicNoticeSearch.localizations.responsibleEntityNameLabel}}:  
                  <span class="entity-contact">
                 {{notice.notice.responsible_entity_companyorganization}}, <span class="entity-phone">Phone: <span class="phone">{{notice.notice.responsible_entity_primary_phone_number}}</span></span>
                  </span> </h6></a>
                  <h6>{{publicNoticeSearch.localizations.representingAttorneyNameLabel}}: 
                  <span class="attorney-contact">{{notice.notice.representing_attorney_full_name}}, <span class="attorney-bar">Bar Number: {{notice.notice.representing_attorney_bar_number}}</span>
                  </span></h6>
              </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">{{ publicNoticeSearch.localizations.closeLabel }}</button>
        </div>
      </div> 
    </div>
</div>