<div>
    <div id="#public-notice-listing-container">
     <div id="#public-notice-listing" infinite-scroll="publicNoticeSearch.searchNotices()">
            <div class="row" ng-repeat="notice in publicNoticeSearch.notices | orderBy:true:'notice.ad_startdate'">
                <div class="hoverable displayaditemseven" ng-show="notice.show">
                    <div class="awpcp-listing-primary-image-listing-link is-flex" ng-click="publicNoticeSearch.showNoticeDetail( notice )" ng-show="notice.showListPanel">
                        <div class="col-xs-12 col-sm-9  content-wrapper-flex">
                            <div class="col-xs-8 col-xs-offset-4 col-sm-3  ad-thumbnail">
                                <img alt="{{ notice.notice.ad_title }}" src="{{ notice.thumb }}" />
                            </div>
                            <div class="col-xs-12 col-sm-9 ad-content">
                                <h3>{{ notice.notice.ad_title }}</h3>
                                 <p class="notice-detail-meta text-left"><strong>  {{ publicNoticeSearch.localizations.publishedDateLabel }}</strong> {{ notice.startDate | date : "MMM d, y"  }} | <strong>Category:</strong> {{ notice.category}}
                                 
                                 </p>
                                 <div class="excerpt">
                                    {{ notice.excerpt }} 
                                 </div>
                                <!-- <a ng-click="publicNoticeSearch.showNoticeDetail( notice )">{{ publicNoticeSearch.localizations.readMoreLabel }}</a> -->
                                
                             </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 meta-wrapper-flex">
                            <div class="ad-meta top">
                               <h5>Active: {{ notice.startDate | date : "MMM d, y" }}<br/>
                                Inactive: {{  notice.endDate   | date : "MMM d, y" }} </h5>
                            </div>
                            <div class="ad-meta bottom">
                                <!-- <h5><em>Total views: {{ notice.notice.ad_views }}</em> </h5> -->
                                <h5><em>Notice Id: {{notice.notice.ad_id}}</em> </h5>
                            </div>
                        </div>
                    </div>
                  
                    <span class="fixfloat"></span>
                    <div class="horizontal-collapse" uib-collapse="notice.listAsCollapsed"  horizontal >
                        <div class="well well-lg notice-detail-well">
                            <notice-detail public-notice-search="publicNoticeSearch" notice="notice"></notice-detail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <span ng-class="spinner" spinner-key="load-spinner" us-spinner="{radius:10, width:8, length: 16}" spinner-on="publicNoticeSearch.loadInProgress"></span>
</div>