<div id="search-notices" class="container-fluid">
    <div class="col-sm-9">
        <div id="category-filter-container">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="publicNoticeSearch.categoryStatus.open">

                    <uib-accordion-heading>
                        {{ publicNoticeSearch.localizations.filterByCategoryLabel }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publicNoticeSearch.categoryStatus.open, 'glyphicon-chevron-right': !publicNoticeSearch.categoryStatus.open}"></i>
                    </uib-accordion-heading>

                    <label class="sr-only" for="pn-category-checkbox">{{ publicNoticeSearch.localizations.categoryCheckListLabel }}</label>
                    <div id="pn-category-checkbox" class="col-xs-12">
                        <label class="pn-category-label" ng-repeat="noticeCategory in publicNoticeSearch.noticeCategories">
                            <input class="pn-category-checkbox" type="checkbox" checklist-model="publicNoticeSearch.request.selectedNoticeCategories" checklist-value="noticeCategory" ng-click="publicNoticeSearch.filterNotices()"> {{ noticeCategory }}
                        </label>
                    </div>

                </div>
            </uib-accordion>
        </div>

        <div id="keywords-filter-container">

            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="publicNoticeSearch.keywordsStatus.open">

                    <uib-accordion-heading>
                        {{ publicNoticeSearch.localizations.filterByKeywordsLabel }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publicNoticeSearch.keywordsStatus.open, 'glyphicon-chevron-right': !publicNoticeSearch.keywordsStatus.open}"></i>
                    </uib-accordion-heading>

                    <div class="col-xs-12">
                        <label class="sr-only" for="keywords-input">{{ publicNoticeSearch.localizations.keywordsInputLabel }}</label>
                        <input class="pn-input" id="keywords-input"  name=="keywords-input" placeholder="{{ publicNoticeSearch.localizations.keywordsInputLabel }}" type="text"  ng-model="publicNoticeSearch.request.keywords" ng-change="publicNoticeSearch.filterNotices()">
                    </div>
                </div>
            </uib-accordion>
        </div>

        <div id="date-range-filter-container">

            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="publicNoticeSearch.dateRangeStatus.open">

                    <uib-accordion-heading>
                        {{ publicNoticeSearch.localizations.filterByDateRangeLabel }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publicNoticeSearch.dateRangeStatus.open, 'glyphicon-chevron-right': !publicNoticeSearch.dateRangeStatus.open}"></i>
                    </uib-accordion-heading>

                    <div class="date-range">
                        <div class="form-group col-xs-6 col-sm-6 input-group pn-date-input pn-from-date-input">
                            <span class="date-field">
                            <label class="pn-input-label" for="from-date-input">{{ publicNoticeSearch.localizations.dateFromLabel }}</label>
                            <input id="from-date-input" name="from-date-input" type="text" class="form-control" placeholder="{{ publicNoticeSearch.localizations.dateFromLabel  }}" uib-datepicker-popup="{{publicNoticeSearch.dateRangeFormat}}" ng-model="publicNoticeSearch.request.fromDate" is-open="fromDatePicker.opened" datepicker-options="fromDatePickerOptions" ng-required="true" close-text="Close" />
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default pn-date-btn" ng-click="dateFromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 input-group pn-date-input pn-to-date-input">
                            <span class="date-field">
                            <label class="pn-input-label" for="to-date-input">{{ publicNoticeSearch.localizations.dateToLabel }}</label>
                            <input id="to-date-input" name="to-date-input" type="text" class="form-control" placeholder="{{ publicNoticeSearch.localizations.dateToLabel }}" uib-datepicker-popup="{{publicNoticeSearch.dateRangeFormat}}" ng-model="publicNoticeSearch.request.toDate" is-open="toDatePicker.opened" datepicker-options="toDatePickerOptions" ng-required="true" close-text="Close" />
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default pn-date-btn" ng-click="dateToOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                   </div>

                </div>
            </uib-accordion>
        </div>

        <div id="region-filter-container">
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="publicNoticeSearch.regionStatus.open">
                    <uib-accordion-heading>
                        {{ publicNoticeSearch.localizations.filterByRegionLabel }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publicNoticeSearch.regionStatus.open, 'glyphicon-chevron-right': !publicNoticeSearch.regionStatus.open}"></i>
                    </uib-accordion-heading>

                    <div id="pn-county-checkbox">
                        <label class="pn-region-label" ng-repeat="county in publicNoticeSearch.regions.counties" ng-class="{ 'city-collapse-expanded' : !publicNoticeSearch.countyCollapses[ county.name  ]  }">
                            <input class="pn-region-checkbox" type="checkbox" checklist-model="publicNoticeSearch.request.selectedCounties" checklist-value="county" ng-click="publicNoticeSearch.countyChecked( county, checked )"> {{ county.name }}
                            <div class="horizontal-collapse" uib-collapse="publicNoticeSearch.countyCollapses[ county.name  ]"  horizontal >
                                <div class="well well-lg">
                                    <label class="pn-region-label" ng-repeat="city in county.cities">
                                        <input class="pn-region-checkbox" type="checkbox" checklist-model="publicNoticeSearch.request.selectedCities" checklist-value="city" ng-click="publicNoticeSearch.cityChecked( city, checked )"> {{ city }}
                                    </label>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </uib-accordion>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="filter-feedback">
            <div class="filter-feedback-content">

                <div class="filter-feedback-heading">{{ publicNoticeSearch.localizations.filterFeedbackLabel }} </div>
                <div class="filter-feedback-default" ng-show="publicNoticeSearch.filterFeedback.defaultOn">{{ publicNoticeSearch.localizations.filterFeedbackDefault }} </div>

                <div class="filter-feedback-section" ng-show="publicNoticeSearch.filterFeedback.catFilterOn">
                    <span class="filter-feedback-label">{{publicNoticeSearch.localizations.filterFeedbackCategoriesLabel }} </span>
                    <span class="filter-feedback-status">{{ publicNoticeSearch.filterFeedback.categories }} </span>
                </div>

                <div class="filter-feedback-section" ng-show="publicNoticeSearch.filterFeedback.countyFilterOn">
                    <span class="filter-feedback-label">{{publicNoticeSearch.localizations.filterFeedbackCountiesLabel }} </span>
                    <span class="filter-feedback-status">{{ publicNoticeSearch.filterFeedback.counties }} </span>
                </div>

                <div class="filter-feedback-section" ng-show="publicNoticeSearch.filterFeedback.cityFilterOn">
                    <span class="filter-feedback-label">{{publicNoticeSearch.localizations.filterFeedbackCitiesLabel }} </span>
                    <span class="filter-feedback-status">{{ publicNoticeSearch.filterFeedback.cities }} </span>

                </div>

                <div class="filter-feedback-section" ng-show="publicNoticeSearch.filterFeedback.dateRangeFilterOn">
                    <span class="filter-feedback-label">{{publicNoticeSearch.localizations.filterFeedbackDateRangeLabel }} </span>
                    <span class="filter-feedback-status">{{ publicNoticeSearch.filterFeedback.dateRange }} </span>
                </div>

                <div class="filter-feedback-section" ng-show="publicNoticeSearch.filterFeedback.keywordsFilterOn">
                    <span class="filter-feedback-label">{{publicNoticeSearch.localizations.filterFeedbackKeywordsLabel }} </span>
                    <span class="filter-feedback-status">{{ publicNoticeSearch.filterFeedback.keywords }} </span>
                </div>
            </div>
        </div>
        <div class="show-archived-container">
            <label class="pn-category-label">
                <input class="pn-category-checkbox" type="checkbox" ng-model="publicNoticeSearch.request.includeArchived"  ng-click="publicNoticeSearch.toggleShowArchived()"> {{ publicNoticeSearch.localizations.showArchivedLabel }}
            </label>
        </div>
        <div class="reset-filter-contaniner">
            <button type="button" class="btn btn-primary" ng-click="publicNoticeSearch.resetFilter()">{{ publicNoticeSearch.localizations.resetFilterLabel }}</button>
        </div>

    </div>
     <div class="col-sm-12">
    <notice-listing public-notice-search="publicNoticeSearch"></notice-listing>
    </div>
</div>
