@charset "UTF-8";
/*!
Theme Name: PAD Child
Theme URI: http://underscores.me/
Author: Wes Kempfer
Author URI: http://wkempferjr@tnotw.com
Description: A theme for Portland Alternative Dwellings
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: pad
Text Domain: pad-child
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

PAD is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

--------------------------------------------------------------*/
/* from 'agency template */
/*
 *  Adjustment breakpoints
*/
/*
 * Adjust logo position
 */
/*
 * This is the width at which the menu padding is reduced
 * to avoid wrapping.
 */
/*
$bp-squeeze-menu: 1135px;
$bp-squeeze-menu-2: 1065px;
$bp-squeeze-menu-3: 1035px;
Set to 0 to disable.
*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }
  h1 h1, h1 h2, h1 h3, h1 h4, h1 h5, h1 h6, h2 h1, h2 h2, h2 h3, h2 h4, h2 h5, h2 h6, h3 h1, h3 h2, h3 h3, h3 h4, h3 h5, h3 h6, h4 h1, h4 h2, h4 h3, h4 h4, h4 h5, h4 h6, h5 h1, h5 h2, h5 h3, h5 h4, h5 h5, h5 h6, h6 h1, h6 h2, h6 h3, h6 h4, h6 h5, h6 h6 {
    text-transform: none;
    font-weight: 700; }

h1 {
  color: #5199a8 !important; }

p {
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.75; }

p.large {
  font-size: 1.2em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

.sow-headline-container h1.sow-headline {
  font-family: "Ubuntu Condensed", Helvetica, Ariel, sans-serif !important; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* From agency template */
.text-muted {
  color: #8e8e8e; }

.text-primary {
  color: #5199a8; }

.bg-light-gray {
  background-color: #f6f6f6; }

.bg-darkest-gray {
  background-color: #6a6a6a; }

/* End from agency template */
blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  text-align: left;
  margin: 0 0 1em 1em; }

ul {
  list-style: disc; }
  ul li {
    list-style-type: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

#colophon ul li {
  list-style-type: none; }
  #colophon ul li:before {
    font-family: FontAwesome;
    content: "";
    float: left;
    padding-right: 0.5em;
    font-size: 0.5em;
    padding-top: 0.9em; }
  #colophon ul li ul li {
    list-style-type: none; }
    #colophon ul li ul li:before {
      font-family: FontAwesome;
      content: "";
      float: left;
      padding-right: 0.5em;
      font-size: 0.5em;
      padding-top: 0.9em; }

/*
 * Remove bullet from woocommerce checkout page
*/
ul.wc_payment_methods {
  list-style-type: none; }
  ul.wc_payment_methods li.wc_payment_method {
    list-style-type: none; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

.img-centered {
  margin: 0 auto; }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

aside.clients img {
  margin: 50px auto; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #6a6a6a; }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      text-transform: none;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px; }

@media (min-width: 992px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      text-transform: none;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px; } }
#header-full-width {
  padding: 0;
  margin-top: 0;
  position: relative; }
  #header-full-width .full-width-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #ffffff; }

.header-full-width section {
  padding: 0; }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }

@media (min-width: 992px) {
  section {
    padding: 150px 0; } }
.service-heading {
  margin: 15px 0;
  text-transform: none; }

section#contact {
  background-color: #6a6a6a;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #5199a8;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    text-transform: none;
    font-weight: 700;
    color: #f6f6f6; }
  section#contact :-moz-placeholder {
    /* Firefox 18- */
    text-transform: none;
    font-weight: 700;
    color: #f6f6f6; }
  section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: none;
    font-weight: 700;
    color: #f6f6f6; }
  section#contact :-ms-input-placeholder {
    text-transform: none;
    font-weight: 700;
    color: #f6f6f6; }
  section#contact .text-danger {
    color: #e74c3c; }

#secondary section {
  padding: 0; }

/*
 * These classes can be added to the first and last rows of a group
 * of PageBuilder rows in order to create breaks between them.
 *
 */
.pad-section-start {
  margin-top: 30px; }

.pad-section-end {
  margin-bottom: 30px; }

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px; }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      background: rgba(81, 153, 168, 0.1);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -12px;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      text-transform: none;
      margin: 0; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 16px;
      margin: 0; }
#portfolio * {
  z-index: 2; }

@media (min-width: 991px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto; }
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  .portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #6a6a6a;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #6a6a6a;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none; }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #5199a8;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 992px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }
.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

footer {
  color: #ffffff;
  background-color: #050200;
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    line-height: 40px;
    text-transform: none;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: none;
    text-transform: none; }
  footer section {
    padding: 0; }
  footer h3, footer h4, footer h5, footer h6 {
    text-align: left;
    color: #ffffff; }
  footer h1, footer h2 {
    text-align: center; }
  footer a {
    color: #ffffff; }
    footer a:visited {
      color: #ffffff; }
    footer a:hover {
      color: #ebc366; }
  footer .site-info {
    font-size: 0.8em; }

#colophon h1, #colophon h2, #colophon h3, #colophon h4, #colophon h5, #colophon h6 {
  color: #ffffff; }
#colophon h2 {
  font-size: 1.5em; }
#colophon p {
  font-size: 1em;
  text-align: left; }
#colophon a {
  color: #ffffff; }
  #colophon a:visited {
    color: #ffffff; }
  #colophon a:hover {
    color: #ebc366; }

.entry-footer {
  color: #404040;
  background-color: #ffffff; }
  .entry-footer a {
    color: #404040; }
    .entry-footer a:visited {
      color: #404040; }

.pad-archive .entry-footer {
  text-align: right; }

.comments-link {
  margin-left: 1em; }

.preloader-target div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ededee url("/wp-content/themes/pad/images/balls.gif") no-repeat center center; }

.modal-title {
  color: #5199a8 !important;
  font-size: 1.2em; }

.modal-body {
  color: #404040 !important; }
  .modal-body p, .modal-body ul, .modal-body li {
    color: #404040 !important; }
  .modal-body a {
    color: #404040 !important; }
    .modal-body a:visited {
      color: #404040 !important; }

.cart-contents:before {
  font-family: FontAwesome;
  content: "\f07a"; }

.cart-contents:hover {
  text-decoration: none; }

.cart-contents-count {
  color: #fff;
  background-color: #2ecc71;
  font-weight: bold;
  border-radius: 10px;
  padding: 1px 6px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top; }

.book-promo-header .panel-grid-cell:first-child {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.book-promo-header .panel-grid-cell:last-child {
  padding-top: 30px; }

.book-promo-header {
  background-color: #cbe381; }
  .book-promo-header .textwidget {
    padding: 0 30px; }

/*
 *
 */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1; }

.slick-carousel-wrapper {
  height: 400px;
  overflow: visible;
  margin: 0 30px 50px 30px; }

.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome';
  font-size: 64px;
  line-height: 1;
  opacity: .75;
  color: #5199a8; }

.slick-prev:before {
  content: '\f104'; }

.slick-next:before {
  content: '\f105'; }

.carousel-item-container {
  padding: 5px;
  background-color: #ffffff; }

::-moz-selection {
  text-shadow: none;
  background: #5199a8; }

::selection {
  text-shadow: none;
  background: #5199a8; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #5199a8; }

.pad-archive {
  margin-bottom: 65px;
  overflow: hidden; }
  .pad-archive .entry-content {
    padding-bottom: 30px;
    max-height: 400px; }
    .pad-archive .entry-content .pad-featured-article-image {
      max-height: 275px; }
      @media (max-width: 767px) {
        .pad-archive .entry-content .pad-featured-article-image {
          max-height: 700px; } }
  .pad-archive .pad-archive-excerpt-container a.btn {
    font-size: 16px; }

@media (max-width: 767px) {
  .pad-archive-excerpt-container {
    margin-top: 2em; } }
.pad-social-buttons a {
  display: block;
  margin-left: 60%;
  background: #5199a8;
  color: #ffffff;
  margin-bottom: 5px; }
  .pad-social-buttons a i {
    color: #ffffff; }
  .pad-social-buttons a:active, .pad-social-buttons a:focus, .pad-social-buttons a:hover {
    background: #6aaab7; }

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px; }

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px; }

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px; }

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px; }

@media (min-width: 992px) {
  .header-full-width section {
    padding: 0; } }
@media (max-width: 768px) {
  .header-full-width section {
    margin-top: 50px; } }
@media (max-width: 414px) {
  .header-full-width section {
    margin-top: 122px; } }
@media (max-width: 385px) {
  .header-full-width section {
    margin-top: 150px; } }
@media (max-width: 375px) {
  .header-full-width section {
    margin-top: 150px; } }
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #5199a8;
  border-radius: 3px;
  background: #5199a8;
  box-shadow: none;
  color: #ffffff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: none; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #60a4b2;
    background-color: #60a4b2;
    box-shadow: none; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #60a4b2;
    background-color: #60a4b2;
    box-shadow: none; }

/* From agency template */
.btn-primary {
  color: white;
  background-color: #5199a8;
  border-color: #5199a8;
  text-transform: none;
  font-weight: 700; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #407a86;
    border-color: #284b52; }
  .btn-primary:hover {
    color: white;
    background-color: #407a86;
    border-color: #3d737f; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #407a86;
    border-color: #3d737f; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      background-color: #35646e;
      border-color: #284b52; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
    background-color: #5199a8;
    border-color: #5199a8; }
  .btn-primary .badge {
    color: #5199a8;
    background-color: white; }

.btn-xl {
  color: white;
  background-color: #5199a8;
  border-color: #5199a8;
  text-transform: none;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl:focus, .btn-xl.focus {
    color: white;
    background-color: #407a86;
    border-color: #284b52; }
  .btn-xl:hover {
    color: white;
    background-color: #407a86;
    border-color: #3d737f; }
  .btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
    color: white;
    background-color: #407a86;
    border-color: #3d737f; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus, .open > .btn-xl.dropdown-toggle:hover, .open > .btn-xl.dropdown-toggle:focus, .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      background-color: #35646e;
      border-color: #284b52; }
  .btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus, fieldset[disabled] .btn-xl:hover, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl.focus {
    background-color: #5199a8;
    border-color: #5199a8; }
  .btn-xl .badge {
    color: #5199a8;
    background-color: white; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    background-color: #6a6a6a;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #5199a8; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.btn:hover {
  background-color: #60a4b2; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

.search-form {
  text-align: center; }
  .search-form .search-field {
    width: 425px; }

input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #d0991b;
  box-shadow: 0 1px 0 0 #d0991b; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #5199a8; }
  a:visited {
    color: #5199a8; }
  a:hover, a:focus, a:active {
    color: #6aaab7; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#primary-menu:before {
  content: "\2014\2014";
  letter-spacing: -4px;
  margin-top: 14px;
  display: inline-flex;
  float: left;
  font-weight: 100;
  padding-right: 40px;
  color: #8e8e8e; }
#primary-menu:after {
  content: "\2014\2014";
  letter-spacing: -4px;
  margin-top: 14px;
  display: inline-flex;
  font-weight: 100;
  padding-left: 40px;
  color: #8e8e8e; }
#primary-menu a {
  color: #8e8e8e; }
  #primary-menu a:hover {
    background-color: #f6f6f6;
    color: #6aaab7; }

.main-navigation {
  clear: both;
  display: block;
  float: none;
  width: 100%;
  font-size: 13px; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul li {
      list-style: none; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 3em;
      left: -999em;
      z-index: 99999;
      line-height: 2.7;
      padding: 10px 0 0; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px;
        padding: 0 20px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: 8em;
      top: 1em; }
  .main-navigation li {
    float: left;
    position: relative; }
    .main-navigation li:hover > a, .main-navigation li:focus > a {
      background-color: #f6f6f6; }
  .main-navigation a {
    display: block;
    text-decoration: none; }
  .main-navigation .current_page_item > a,
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_ancestor > a,
  .main-navigation .current-menu-ancestor > a {
    background-color: #f6f6f6; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.navbar-custom {
  background-color: #6a6a6a;
  border-color: transparent; }
  .navbar-custom .navbar-brand {
    color: #5199a8;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
      color: #407a86; }
  .navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98); }
  .navbar-custom .navbar-toggle {
    background-color: #ffffff;
    color: #5199a8;
    border: none;
    box-shadow: none;
    text-transform: none;
    text-shadow: none;
    font-size: 1.7em; }
    .navbar-custom .navbar-toggle:hover {
      background-color: #ffffff !important;
      color: #6aaab7 !important; }
    .navbar-custom .navbar-toggle:focus {
      background-color: #ffffff !important;
      color: #6aaab7 !important; }
      .navbar-custom .navbar-toggle:focus:after {
        font-family: FontAwesome;
        content: "\f00d"; }
    .navbar-custom .navbar-toggle:after {
      font-family: FontAwesome;
      content: "\f0c9"; }
      .navbar-custom .navbar-toggle:after:hover {
        color: #6aaab7 !important; }
  .navbar-custom .navbar-toggle.collapsed:focus {
    background-color: #ffffff !important;
    color: #5199a8 !important; }
  .navbar-custom .navbar-toggle.collapsed:hover {
    background-color: #ffffff !important;
    color: #6aaab7 !important; }
  .navbar-custom .navbar-toggle.collapsed:after {
    font-family: FontAwesome;
    content: "\f0c9"; }
  .navbar-custom .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
      color: #5199a8;
      outline: none; }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #5199a8; }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #407a86; }

@media (min-width: 992px) {
  #site-navigation.navbar-custom {
    background-color: #ffffff;
    background-image: none;
    padding: 25px 0 0;
    height: 100px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border: none; }
    #site-navigation.navbar-custom .navbar-brand {
      font-size: 2em;
      width: 100%;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s; }
      #site-navigation.navbar-custom .navbar-brand img {
        margin-top: -50px;
        max-width: 80%; }
    #site-navigation.navbar-custom #primary-menu .sub-menu {
      background-color: #ffffff; }
      #site-navigation.navbar-custom #primary-menu .sub-menu a {
        background-color: #ffffff;
        text-transform: none; }
        #site-navigation.navbar-custom #primary-menu .sub-menu a:hover {
          background-color: #f6f6f6; }
    #site-navigation.navbar-custom .site-title {
      font-size: 2.5em;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s; }
    #site-navigation.navbar-custom .site-description {
      font-size: 1.5em;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s; }
    #site-navigation.navbar-custom .navbar-nav > .active > a {
      border-radius: 3px; }
    #site-navigation.navbar-custom .inverted-logo {
      display: none;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s; }
    #site-navigation.navbar-custom .normal-logo {
      display: block;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s; }

  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: 1em;
    top: 2.4em; } }
@media (min-width: 992px) {
  #site-navigation.navbar-custom.affix {
    background-color: #ffffff;
    padding: 10px 0 0;
    height: 70px; }
    #site-navigation.navbar-custom.affix .navbar-brand {
      font-size: 1.5em;
      width: 80%; }
      #site-navigation.navbar-custom.affix .navbar-brand img {
        margin-top: -35px; }
    #site-navigation.navbar-custom.affix #primary-menu .sub-menu {
      background-color: #ffffff; }
      #site-navigation.navbar-custom.affix #primary-menu .sub-menu a {
        background-color: #ffffff; }
        #site-navigation.navbar-custom.affix #primary-menu .sub-menu a:hover {
          background-color: #f6f6f6; }
    #site-navigation.navbar-custom.affix .site-title {
      font-size: 36px; }
    #site-navigation.navbar-custom.affix .site-description {
      font-size: 1.1em; }
    #site-navigation.navbar-custom.affix .inverted-logo {
      display: none; }
    #site-navigation.navbar-custom.affix .normal-logo {
      display: block; } }
@media (max-width: 991px) {
  .main-navigation li {
    float: none; }

  #primary-menu a {
    color: #8e8e8e; }
    #primary-menu a:hover {
      color: #6aaab7; }

  #primary-menu .sub-menu {
    background-color: #ffffff; }
    #primary-menu .sub-menu a {
      background-color: #ffffff; }

  #primary-menu-container {
    overflow: visible;
    width: 60%; }

  #site-navigation {
    background-color: #ffffff; }
    #site-navigation .container-fluid {
      background-color: #ffffff;
      width: 100%; } }
@media (min-width: 1160px) {
  #site-navigation.navbar-custom.affix .navbar-brand img {
    margin-top: -40px; } }
/*
 * Accomodate WP dashboard tool bar.
 */
#site-navigation {
  top: 0; }
  .admin-bar #site-navigation {
    top: 46px; }
    @media screen and (min-width: 783px) {
      .admin-bar #site-navigation {
        top: 32px; } }

.admin-bar .main-navigation {
  top: 0 !important; }

/*
 * Adjust menu padding to avoid wrapping.
 */
@media (max-width: 0) {
  .navbar-nav > li > a {
    padding-left: 8px;
    padding-right: 8px; }

  .main-navigation ul {
    float: none !important; }

  #primary-menu-container {
    padding-left: 70px; }

  .home #primary-menu-container, .hero-layout #primary-menu-container {
    padding-left: 55px; } }
@media (max-width: 0) {
  #primary-menu-container {
    padding-left: 45px; }

  .home #primary-menu-container, .hero-layout #primary-menu-container {
    padding-left: 30px; } }
@media (max-width: 0) {
  #primary-menu-container {
    padding-left: 25px; }

  .home #primary-menu-container, .hero-layout #primary-menu-container {
    padding-left: 0; } }
/*
 * Display utility icons horizontally at all times.
 */
.utility-set a {
  float: left; }

/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
#pad-logo-container {
  margin-top: 15px;
  padding-top: 5px; }

a.custom-logo-link {
  margin-bottom: 30px; }

#masthead {
  text-align: left; }

#pad-logo-container-mobile {
  display: none; }

@media (max-width: 991px) {
  #pad-logo-container {
    display: none; }

  #pad-logo-container-mobile {
    display: block;
    position: fixed;
    top: -10px;
    left: 20px;
    z-index: 10000; }
    #pad-logo-container-mobile a.mobile-logo img {
      max-width: 80px; } }
/*--------------------------------------------------------------
## Site title and description
--------------------------------------------------------------*/
.site-title {
  margin-top: 0; }
  .site-title a {
    color: #484848;
    text-decoration: none; }
  .site-title a:visited {
    color: #484848; }

p.site-description {
  color: #6a6a6a; }

@media (max-width: 992px) {
  .site-title a {
    margin-top: 2%; } }
@media (max-width: 414px) {
  .site-title a {
    margin-top: 0; } }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

#content {
  margin-top: 0; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comment .comment-meta {
  color: #404040;
  background-color: #ffffff;
  padding-bottom: 5px; }
  .comment .comment-meta .comment-author {
    text-align: left;
    margin-left: 15px; }
    .comment .comment-meta .comment-author a {
      color: #404040; }
.comment .comment-metadata {
  text-align: left;
  font-size: 0.9em;
  font-style: italic; }
  .comment .comment-metadata a {
    color: #404040; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Truncate, mostly for post excerpts inside of card layouts.
--------------------------------------------------------------*/
.truncate-ellipsis-base, .truncate-ellipsis, .truncate-ellipsis-4, .truncate-ellipsis-5, .truncate-ellipsis-6, .truncate-ellipsis-10, .truncate-ellipsis-20 {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  height: 67.2px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.truncate-ellipsis {
  -webkit-line-clamp: 3; }

.truncate-ellipsis-4 {
  height: 89.6px;
  /* Fallback for non-webkit */
  -webkit-line-clamp: 4; }

.truncate-ellipsis-5 {
  height: 112px;
  /* Fallback for non-webkit */
  -webkit-line-clamp: 5; }

.truncate-ellipsis-6 {
  height: 134.4px;
  /* Fallback for non-webkit */
  -webkit-line-clamp: 6; }

.truncate-ellipsis-10 {
  height: 224px;
  /* Fallback for non-webkit */
  -webkit-line-clamp: 10; }

.truncate-ellipsis-20 {
  height: 448px;
  /* Fallback for non-webkit */
  -webkit-line-clamp: 20; }

/*--------------------------------------------------------------
# Scrollable div.
--------------------------------------------------------------*/
.pad-scrollable {
  max-height: 100%;
  overflow-y: auto; }

.pad-scrollable-sitemap {
  max-height: 20em;
  overflow-y: auto; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Helper classes
--------------------------------------------------------------*/
.pad-theme-color {
  color: #5199a8; }

.pad-theme-color-bg {
  background-color: #5199a8; }

.pad-theme-color-light {
  color: #60a4b2; }

.pad-theme-accent-color {
  color: #d0991b; }

.pad-theme-accent-color-light {
  color: #ebc366; }

.fillwidth {
  min-width: 100%;
  height: auto;
  margin-top: 150px;
  transform: translateY(-50%); }
  @media screen and (max-width: 1200px) {
    .fillwidth {
      margin-top: 122px !important; } }
  @media screen and (max-width: 992px) {
    .fillwidth {
      margin-top: 91.5px !important; } }
  @media screen and (max-width: 780px) {
    .fillwidth {
      margin-top: 250px !important; } }

.fillwidth.pad-hover-caption-image {
  margin-top: 112.5px; }

.pad-archive .fillwidth {
  margin-top: 0;
  transform: none; }

@media (max-width: 780px) {
  .fillwidth {
    margin-top: 250px; }

  .pad-archive .fillwidth {
    margin-top: 0;
    transform: none; } }
.fillheight {
  min-height: 100%;
  max-height: 100%;
  width: auto !important;
  max-width: none !important;
  margin-left: 50%;
  transform: translateX(-50%); }

.feature-left {
  width: 50%;
  margin-bottom: 2.5em;
  margin-right: 4em; }

.pad-featured-article-image.horizontal-left img {
  margin-top: 0 !important; }

.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.no-clear {
  clear: none; }

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
.pad-featured-article .pad-featured-article-excerpt {
  height: 485px;
  z-index: 2;
  margin-top: 0;
  margin-left: -75px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 30px; }
.pad-featured-article .pad-article-excerpt {
  font-size: 1.3em;
  line-height: 1.7; }
.pad-featured-article .pad-featured-article-image {
  height: 300px; }
  @media screen and (max-width: 1200px) {
    .pad-featured-article .pad-featured-article-image {
      height: 244px !important; } }
  @media screen and (max-width: 992px) {
    .pad-featured-article .pad-featured-article-image {
      height: 183px !important; } }
  @media screen and (max-width: 780px) {
    .pad-featured-article .pad-featured-article-image {
      height: 500px !important; } }
.pad-featured-article .pad-article-button {
  position: absolute;
  right: 58px;
  bottom: 30px; }
.pad-featured-article .pad-animate {
  z-index: 3;
  color: #d0991b;
  font-size: 3em;
  text-align: center;
  padding: 40%; }
.pad-featured-article .card-block {
  padding: 0 15px 90px;
  font-size: 1.2em;
  min-height: 300px; }

.pad-article-button a {
  font-size: 16px; }

.pad-product {
  box-sizing: border-box;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0; }
  .pad-product .card-block {
    padding: 0 2em 2em;
    min-height: 9em; }
    .pad-product .card-block .card-title {
      min-height: 2em;
      margin-bottom: 5px;
      margin-top: 29px; }
  .pad-product .pad-thumbnail {
    width: 100%; }
  .pad-product .pad-thumbnail-simple {
    height: 100%; }
  .pad-product .pad-thumbnail-simple-container {
    height: 250px; }
  .pad-product .pad-image-column {
    padding-left: 0;
    padding-right: 0; }
  .pad-product .pad-product-card-column {
    padding: 0; }
  .pad-product .pad-product-grid-desc {
    padding: 30px 5px 5px 0; }
  .pad-product .pad-product-excerpt {
    font-size: 16px;
    margin-bottom: 60px; }
  .pad-product .pad-onsale {
    position: absolute;
    top: 35px;
    left: 37px;
    z-index: 2;
    background-color: #5199a8;
    color: #ffffff;
    font-size: 1.5em;
    padding: 6px 19px; }
  .pad-product .pad-carousel-slide .pad-onsale {
    top: 14px;
    left: 14px;
    font-size: 1em; }
  .pad-product .pad-animate {
    z-index: 3;
    color: #d0991b;
    font-size: 3em;
    text-align: center;
    padding: 40%; }
  .pad-product .pad-product-button {
    text-align: center;
    margin-top: 1.5em;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); }
    .pad-product .pad-product-button ins {
      background: transparent; }
  .pad-product .pad-product-panel {
    margin: 0; }
  .pad-product .woocommerce-Price-amount.amount {
    background-color: transparent; }
  .pad-product .pad-product-hover-slide {
    position: relative;
    height: 300px;
    overflow: hidden;
    /*
    &:hover {
      span.pad-hover-caption {
        opacity: 1;
      }
    }
    */ }
    @media screen and (max-width: 1200px) {
      .pad-product .pad-product-hover-slide {
        height: 244px !important; } }
    @media screen and (max-width: 992px) {
      .pad-product .pad-product-hover-slide {
        height: 183px !important; } }
    @media screen and (max-width: 780px) {
      .pad-product .pad-product-hover-slide:not(.pad-carousel-slide) {
        height: 500px !important; } }
    .pad-product .pad-product-hover-slide img {
      position: absolute;
      left: 0;
      width: 100%;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }
    .pad-product .pad-product-hover-slide img.product-image-top:hover {
      opacity: 0; }
    .pad-product .pad-product-hover-slide span.pad-hover-caption {
      padding: 0 20px;
      background: rgba(0, 0, 0, 0.5);
      color: #ebc366;
      cursor: pointer;
      display: table;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms; }
      .pad-product .pad-product-hover-slide span.pad-hover-caption span {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
        @media screen and (max-width: 992px) {
          .pad-product .pad-product-hover-slide span.pad-hover-caption span {
            font-size: 14px; } }
  .pad-product .pad-carousel-slide {
    height: 225px; }
  .pad-product .pad-product-horizontal-hover-slide {
    position: relative;
    height: 450px;
    overflow: hidden; }
    .pad-product .pad-product-horizontal-hover-slide img {
      position: absolute;
      left: 0;
      width: 100%;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }
    .pad-product .pad-product-horizontal-hover-slide img.product-image-top:hover {
      opacity: 0; }

.carousel-item-container .card-block {
  text-align: center; }
  .carousel-item-container .card-block h3.card-title {
    font-size: 1.3em;
    margin-top: 15px; }
  .carousel-item-container .card-block .pad-product-button {
    min-width: 170px;
    font-size: 0.8em; }

@media screen and (max-width: 780px) {
  .carousel-item-container .pad-carousel-slide img.fillwidth {
    margin-top: 91.5px !important; } }
@media screen and (max-width: 780px) {
  .carousel-item-container .pad-carousel-slide img.fillheight {
    margin-top: 0 !important; } }

.pad-product-carousel {
  margin: 50px 0; }

@media (max-width: 780px) {
  .pad-product .pad-product-hover-slide,
  .pad-product .pad-product-horizontal-hover-slide {
    height: 500px; }
  .pad-product .pad-carousel-slide {
    height: 225px; } }
.pad-product-button a.btn {
  font-size: 16px; }

.pad-product-grid {
  box-sizing: border-box;
  padding-top: 0 !important;
  margin-top: 50px;
  margin-bottom: 50px; }
  .pad-product-grid .card-block {
    padding: 0 2em; }
  .pad-product-grid .pad-thumbnail {
    width: 100%; }
  .pad-product-grid .pad-image-column {
    padding-left: 0;
    padding-right: 0; }
  .pad-product-grid .pad-product-grid-desc {
    padding: 30px 5px 5px 0; }
  .pad-product-grid .pad-product-excerpt {
    font-size: 1.2em; }
  .pad-product-grid .pad-onsale {
    position: absolute;
    top: 35px;
    left: 37px;
    z-index: 2;
    background-color: #5199a8;
    color: #ffffff;
    font-size: 1.5em;
    padding: 6px 19px; }
  .pad-product-grid .pad-animate {
    z-index: 3;
    color: #d0991b;
    font-size: 3em;
    text-align: center;
    padding: 40%; }
  .pad-product-grid .pad-product-button {
    text-align: center;
    margin-top: 10px; }
    .pad-product-grid .pad-product-button a.btn {
      font-size: 16px; }
  .pad-product-grid .pad-product-panel {
    margin: 35px 0; }
  .pad-product-grid .woocommerce-Price-amount.amount {
    background-color: #5199a8; }
  .pad-product-grid .pad-product-hover-slide {
    position: relative;
    height: 500px;
    overflow: hidden; }
    .pad-product-grid .pad-product-hover-slide img {
      position: absolute;
      left: 0;
      width: 100%;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; }
    .pad-product-grid .pad-product-hover-slide img.product-image-top:hover {
      opacity: 0; }

.pullquote2-container {
  border-left: #d0991b 3px solid;
  padding: 0.5em 0 0.5em 1em;
  margin-bottom: 2em;
  margin-top: 2em; }
  .pullquote2-container .pullquote2-content {
    display: inline;
    font-size: 1.1em;
    line-height: 1.5; }
    .pullquote2-container .pullquote2-content:before {
      font-family: FontAwesome;
      content: "\f10d";
      display: inline;
      font-size: 0.7em;
      color: #8e8e8e;
      margin-right: 0.5em;
      vertical-align: super; }
  .pullquote2-container .pullquote2-citation {
    display: inline;
    font-size: 0.8em;
    font-weight: bold;
    color: #8e8e8e; }
    .pullquote2-container .pullquote2-citation:before {
      content: "-";
      display: inline;
      padding: 0 0.5em; }
    .pullquote2-container .pullquote2-citation:after {
      font-family: FontAwesome;
      content: "\f10e";
      display: inline;
      font-size: 0.7em;
      color: #8e8e8e;
      margin-left: 0.5em;
      vertical-align: super; }

.pullquote1-container {
  width: 50%;
  float: left;
  font-size: 1.1em;
  font-style: italic;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 20px;
  border: #5199a8 solid 2px !important;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .pullquote1-container {
      width: 100%;
      margin: 25px auto 40px; } }
  .pullquote1-container .pullquote1-content {
    display: inline;
    font-size: 1.1em;
    line-height: 1.5;
    color: #8e8e8e; }
    .pullquote1-container .pullquote1-content:before {
      font-family: FontAwesome;
      content: "\f10d";
      display: inline;
      font-size: 0.6em;
      color: #8e8e8e;
      margin-right: 0.5em;
      vertical-align: super; }
    .pullquote1-container .pullquote1-content:after {
      font-family: FontAwesome;
      content: "\f10e";
      display: inline;
      font-size: 0.6em;
      color: #8e8e8e;
      margin-left: 0.5em;
      vertical-align: super; }
  .pullquote1-container .pullquote1-citation {
    margin-top: 10px;
    float: right;
    font-style: normal; }
    .pullquote1-container .pullquote1-citation:before {
      content: "-";
      padding: 0 0.5em; }

.clearboth {
  width: 100%;
  height: 0px;
  line-height: 0;
  font-size: 0px;
  clear: both;
  display: block; }

.divider {
  background: url("images/inset_line.png") left center no-repeat;
  clear: both;
  display: block;
  height: 20px;
  margin: 30px 0;
  text-align: right;
  width: 100%; }

.portfolio-grid-row {
  margin-bottom: 30px; }

/*--------------------------------------------------------------
# Per page overrides
--------------------------------------------------------------*/
.home, .hero-layout {
  /*
   * Hide page build navigation arrows
   */ }
  .home h1, .home h2, .home h3, .hero-layout h1, .hero-layout h2, .hero-layout h3 {
    color: #5199a8; }
  .home p, .hero-layout p {
    font-size: 15px; }
  .home #header-full-width, .hero-layout #header-full-width {
    margin-top: 0; }
  .home #pad-product-section, .hero-layout #pad-product-section {
    margin: 75px 0; }
  .home .sow-slide-nav, .hero-layout .sow-slide-nav {
    z-index: -10000; }
  .home #home-slider, .hero-layout #home-slider {
    position: relative; }
    .home #home-slider .animated-greeting-text, .hero-layout #home-slider .animated-greeting-text {
      position: absolute;
      width: 90%;
      top: 50%;
      left: -999px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1000;
      text-align: center; }
      .home #home-slider .animated-greeting-text p, .hero-layout #home-slider .animated-greeting-text p {
        font-family: 'Londrina Solid';
        text-shadow: 2px 2px 2px #000000;
        font-size: 1.1em; }
  .home .page .entry-header, .hero-layout .page .entry-header {
    display: none; }
  .home .site-title a, .hero-layout .site-title a {
    color: #484848;
    text-decoration: none; }
  .home .site-title a:visited, .hero-layout .site-title a:visited {
    color: #484848; }
  .home p.site-description, .hero-layout p.site-description {
    color: #ffffff; }
  .home #site-navigation.navbar-custom, .hero-layout #site-navigation.navbar-custom {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2); }
  .home #primary-menu a, .hero-layout #primary-menu a {
    color: #ffffff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    .home #primary-menu a:hover, .hero-layout #primary-menu a:hover {
      background-color: transparent;
      color: #ffffff !important;
      font-size: 1.2em; }
  .home #content, .hero-layout #content {
    margin-top: 0; }
  .home .container-fluid, .hero-layout .container-fluid {
    padding-left: 30px;
    padding-right: 30px; }

.home.page #content,
.hero-layout.page #content {
  margin-top: 0; }

@media (min-width: 992px) {
  .home #site-navigation, .hero-layout #site-navigation {
    height: 60px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
  .home #home-slider, .hero-layout #home-slider {
    margin-bottom: 0; }
  .home #site-navigation.navbar-custom, .hero-layout #site-navigation.navbar-custom {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 5px; }
    .home #site-navigation.navbar-custom .inverted-logo, .hero-layout #site-navigation.navbar-custom .inverted-logo {
      display: block;
      opacity: 1;
      height: 150px; }
    .home #site-navigation.navbar-custom .navbar-brand img, .hero-layout #site-navigation.navbar-custom .navbar-brand img {
      margin-top: -17px;
      margin-left: 12px;
      background-color: #ffffff;
      padding: 10px;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .home #site-navigation.navbar-custom #primary-menu .sub-menu, .hero-layout #site-navigation.navbar-custom #primary-menu .sub-menu {
      background-color: rgba(0, 0, 0, 0.2); }
      .home #site-navigation.navbar-custom #primary-menu .sub-menu a, .hero-layout #site-navigation.navbar-custom #primary-menu .sub-menu a {
        background-color: transparent; }
  .home #primary-menu a, .hero-layout #primary-menu a {
    color: #ffffff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    .home #primary-menu a:hover, .hero-layout #primary-menu a:hover {
      color: #b6d5dc; }
  .home .navbar-brand, .hero-layout .navbar-brand {
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
  .home .normal-logo, .hero-layout .normal-logo {
    display: block;
    position: absolute; }
  .home .inverted-logo, .hero-layout .inverted-logo {
    display: block;
    position: absolute; }
  .home #site-navigation.navbar-custom.affix, .hero-layout #site-navigation.navbar-custom.affix {
    background-color: #ffffff;
    height: 70px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .home #site-navigation.navbar-custom.affix #primary-menu, .hero-layout #site-navigation.navbar-custom.affix #primary-menu {
      margin-top: 4px; }
      .home #site-navigation.navbar-custom.affix #primary-menu a, .hero-layout #site-navigation.navbar-custom.affix #primary-menu a {
        color: #8e8e8e; }
        .home #site-navigation.navbar-custom.affix #primary-menu a:hover, .hero-layout #site-navigation.navbar-custom.affix #primary-menu a:hover {
          background-color: #f6f6f6;
          color: #6aaab7 !important;
          font-size: 1em; }
      .home #site-navigation.navbar-custom.affix #primary-menu .sub-menu, .hero-layout #site-navigation.navbar-custom.affix #primary-menu .sub-menu {
        background-color: #ffffff; }
        .home #site-navigation.navbar-custom.affix #primary-menu .sub-menu a, .hero-layout #site-navigation.navbar-custom.affix #primary-menu .sub-menu a {
          background-color: #ffffff;
          text-transform: none; }
          .home #site-navigation.navbar-custom.affix #primary-menu .sub-menu a:hover, .hero-layout #site-navigation.navbar-custom.affix #primary-menu .sub-menu a:hover {
            background-color: #f6f6f6; }
    .home #site-navigation.navbar-custom.affix .navbar-brand, .hero-layout #site-navigation.navbar-custom.affix .navbar-brand {
      width: 80%; }
      .home #site-navigation.navbar-custom.affix .navbar-brand img, .hero-layout #site-navigation.navbar-custom.affix .navbar-brand img {
        margin-top: -40px;
        background-color: transparent;
        box-shadow: none; }
    .home #site-navigation.navbar-custom.affix .inverted-logo, .hero-layout #site-navigation.navbar-custom.affix .inverted-logo {
      display: block;
      opacity: 0; }
    .home #site-navigation.navbar-custom.affix .normal-logo, .hero-layout #site-navigation.navbar-custom.affix .normal-logo {
      display: block; } }
@media (max-width: 991px) {
  .home #content, .hero-layout #content {
    margin-top: 65px; }
  .home #primary-menu a, .hero-layout #primary-menu a {
    color: #8e8e8e; }
    .home #primary-menu a:hover, .hero-layout #primary-menu a:hover {
      background-color: #f6f6f6;
      color: #6aaab7 !important;
      font-size: 1em; }
  .home #primary-menu .sub-menu, .hero-layout #primary-menu .sub-menu {
    background-color: #ffffff; }
    .home #primary-menu .sub-menu a, .hero-layout #primary-menu .sub-menu a {
      background-color: #ffffff; } }
@media (max-width: 767px) {
  .home #home-slider .animated-greeting-text p {
    font-size: 0.7em; } }
@media (min-width: 1160px) {
  .home #site-navigation.navbar-custom.affix .navbar-brand img, .hero-layout #site-navigation.navbar-custom.affix .navbar-brand img {
    margin-top: -45px; } }
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #60a4b2;
  color: #ffffff; }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #5199a8;
  color: #ffffff; }

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: #5199a8;
  color: #ffffff; }

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background-color: #60a4b2;
  color: #ffffff; }

.pad-product-bottom-section {
  margin-bottom: 40px; }
  .pad-product-bottom-section .pad-product-bottom-title {
    display: inline-block; }
  .pad-product-bottom-section .pad-bottom-cart-button {
    display: inline-block;
    margin-left: 40px; }

.woocommerce table.shop_table td small {
  font-weight: 700;
  font-size: 1.5em; }

.notice-header {
  background: #5199a8;
  color: white;
  padding: 15px;
  margin: 10px auto; }

.hoverable .awpcp-listing-primary-image-listing-link {
  cursor: pointer; }
  .hoverable .awpcp-listing-primary-image-listing-link:hover h3 {
    color: #5199a8;
    font-weight: 900; }

.row.slider-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

.displayaditemseven,
.displayaditemsodd {
  margin-top: 25px;
  margin-bottom: 25px; }
  .displayaditemseven .ad-thumbnail,
  .displayaditemsodd .ad-thumbnail {
    padding: 5px;
    float: left;
    margin: 20px 20px 0 0; }
  .displayaditemseven .ad-content,
  .displayaditemsodd .ad-content {
    word-wrap: break-word;
    width: 80%;
    padding: 5px;
    float: left;
    padding-bottom: 20px; }
  .displayaditemseven .ad-meta,
  .displayaditemsodd .ad-meta {
    padding: 5px;
    float: right;
    margin-right: 20px;
    text-align: right; }

.showawpcpadpage {
  word-wrap: break-word; }

.browse-listings,
.search-listings,
.post-listing {
  display: none; }

.fixfloat {
  margin-top: 25px; }
  .fixfloat .tw_button {
    float: left;
    margin-right: 20px; }
  .fixfloat .twitter-share-button {
    margin-top: 0; }

#showawpcpadpage {
  padding: 1em; }

/*
.showawpcpadpage ul li,
#classiwrapper ul li {
  list-style-type: disc !important;
  list-style-position: inside;
}
*/
#classiwrapper .awpcp-search-ads-form .awpcp-multiple-region-selector li.awpcp-region-selector,
#classiwrapper .awpcp-details-form .awpcp-multiple-region-selector li.awpcp-region-selector {
  list-style-type: none !important; }
  #classiwrapper .awpcp-search-ads-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials,
  #classiwrapper .awpcp-details-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials {
    list-style-type: none !important; }
    #classiwrapper .awpcp-search-ads-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials li.awpcp-region-selector-partial,
    #classiwrapper .awpcp-details-form .awpcp-multiple-region-selector li.awpcp-region-selector ul.awpcp-region-selector-partials li.awpcp-region-selector-partial {
      list-style-type: none !important; }

#classiwrapper ul li.post-listing,
#classiwrapper ul li.edit-listing,
#classiwrapper ul li.browse-listings,
#classiwrapper ul li.search-listings {
  list-style-type: none !important; }

#search-notices #pn-category-checkbox label {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 10px 10px 10px 0; }
  #search-notices #pn-category-checkbox label .highlighted {
    background: #5199a8; }
#search-notices input.pn-category-checkbox {
  margin-left: 0px; }
#search-notices .row.keywords-form-group {
  width: 100%; }
#search-notices .btn-default {
  color: #333 !important;
  background-color: #fff;
  border-color: #ccc; }
  #search-notices .btn-default:hover {
    background-color: #adadad !important; }
#search-notices .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #7b7b7b;
  border-radius: 4px;
  box-shadow: none; }
#search-notices .date-range {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 17px; }
  #search-notices .date-range h4 {
    width: 100%; }
  #search-notices .date-range .pn-date-input {
    display: flex; }
    #search-notices .date-range .pn-date-input .pn-from-date-input {
      margin-left: 0px; }
    #search-notices .date-range .pn-date-input label {
      display: none; }
    #search-notices .date-range .pn-date-input button.pn-date-btn {
      padding: 9px 11px;
      margin: 29px 0 0 7px; }
  #search-notices .date-range .input-group-btn:last-child > .btn, #search-notices .date-range .input-group-btn:last-child > .btn-group > .btn, #search-notices .date-range .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 10px;
    margin: 3px 0 0 0; }
  #search-notices .date-range .uib-datepicker-popup {
    padding-right: 15px;
    list-style-type: none; }
    #search-notices .date-range .uib-datepicker-popup li {
      list-style-type: none; }
    #search-notices .date-range .uib-datepicker-popup li:focus {
      outline: none; }
    #search-notices .date-range .uib-datepicker-popup .uib-datepicker:focus {
      outline: none; }
    #search-notices .date-range .uib-datepicker-popup div:focus {
      outline: none; }

.spinner {
  margin-top: 6%; }

.awpcp-listing-primary-image-listing-link.is-flex {
  display: flex;
  flex-wrap: wrap;
  color: #666; }
  .awpcp-listing-primary-image-listing-link.is-flex .content-wrapper-flex {
    display: flex;
    flex-direction: row; }
  .awpcp-listing-primary-image-listing-link.is-flex .meta-wrapper-flex {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .awpcp-listing-primary-image-listing-link.is-flex .meta-wrapper-flex .ad-meta.top {
      margin-top: 0;
      margin-bottom: auto;
      line-height: 125%; }
    .awpcp-listing-primary-image-listing-link.is-flex .meta-wrapper-flex .ad-meta.bottom {
      margin-top: auto;
      margin-bottom: 0; }

.meta-detail {
  display: flex;
  justify-content: space-around;
  margin: 2.5% auto;
  padding: .625em 0;
  width: 100%;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  font-style: italic;
  color: #666; }

.notice-listing-details {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.modal-header {
  border-bottom: none; }
  .modal-header h3 {
    font-weight: 900; }
  .modal-header .notice-detail-meta {
    margin-bottom: 0; }

img.modal-image {
  width: 100%; }

.notice-detail-meta {
  margin-bottom: 20px;
  font-size: 0.9em;
  font-style: italic;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  padding: 4px 0; }

#pn-county-checkbox .pn-region-label {
  margin-right: 15px; }
#pn-county-checkbox .pn-region-checkbox {
  margin-right: 2px; }

.city-collapse-expanded {
  display: block;
  margin-top: 1em; }

.filter-feedback-content {
  color: #333;
  border: #ddd 1px solid;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 8px; }

.filter-feedback-heading {
  font-weight: bold;
  float: left;
  width: 100%;
  background: #f5f5f5;
  padding: 4px; }
  .filter-feedback-heading:after {
    content: ":";
    margin-right: 0.8em; }

.filter-feedback-section {
  background: white;
  padding: 8px; }

.filter-feedback-label {
  width: 100%;
  float: left;
  font-style: normal;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 14px 0 8px 0;
  text-align: center;
  background: #5199a8;
  color: white;
  font-family: 'Lora';
  font-size: 17px; }

.filter-feedback-status {
  font-style: italic; }
  .filter-feedback-status:before {
    margin-right: 0.5em; }

.show-archived-container {
  margin-top: 15px; }

.reset-filter-contaniner {
  text-align: center;
  margin-top: 15px; }

body .awpcp-ad-primary-image {
  float: none !important;
  clear: both; }
  body .awpcp-ad-primary-image .thumbnail {
    border: none; }

#displayimagethumbswrapper #displayimagethumbs.img-modal ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap; }
  #displayimagethumbswrapper #displayimagethumbs.img-modal ul li {
    display: block;
    margin: 10px auto;
    padding: 3px;
    text-align: center; }
    #displayimagethumbswrapper #displayimagethumbs.img-modal ul li a {
      padding: 3px; }

span.entity-phone,
span.attorney-bar {
  white-space: nowrap; }

.notice-detail-well {
  border-radius: 1px;
  background-color: #ffffff; }

@media (min-width: 1199px) {
  #displayimagethumbswrapper #displayimagethumbs.img-modal ul {
    padding: 0 30px; } }
@media (max-width: 992px) {
  .meta-detail {
    font-size: 12px;
    flex-flow: wrap;
    justify-content: center; }
    .meta-detail span {
      margin: 0 1%; } }
@media (max-width: 768px) {
  .row.slider-width {
    margin-top: 13px; }

  #search-notices .date-range input[type="text"] {
    padding: 4.5px; }

  .ad-meta.top h5 {
    font-size: 11px; }

  .filter-feedback-status {
    font-size: 14px; } }
@media (max-width: 414px) {
  #search-notices #pn-category-checkbox label {
    padding: 4px;
    margin: 4px 4px 4px 0; }

  #search-notices .date-range {
    flex-flow: column; }

  .well-lg {
    padding: 9px; }
    .well-lg .modal-body {
      padding: 0; }

  .filter-feedback-heading {
    padding: 0; }

  .awpcp-listing-primary-image-listing-link.is-flex .content-wrapper-flex {
    flex-direction: column; }

  .modal-content .awpcp-ad-primary-image {
    padding-left: 0;
    float: none; }

  #displayimagethumbswrapper #displayimagethumbs.img-modal ul li {
    margin: 0; }

  body .awpcp-ad-primary-image .thumbnail {
    border: none; }

  .displayaditemseven .ad-thumbnail,
  .displayaditemsodd .ad-thumbnail {
    margin: auto; }

  .displayaditemseven .ad-content,
  .displayaditemsodd .ad-content {
    width: 98%; } }
/*
 Theme Name:   Pad Child
 Theme URI:    https://tnotw.com/pad-theme
 Description:  Pad Child Theme
 Author:       Wes Kempfer
 Author URI:   https://tnotw.com
 Template:     pad
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  pad-child
*/
#masthead {
  text-align: center; }

.navbar-header .navbar-toggle {
  float: left; }

@media (min-width: 992px) {
  #primary-menu-container {
    display: flex !important;
    justify-content: center;
    align-items: center; }

  #site-navigation {
    position: relative;
    margin-bottom: 0; }

  #site-navigation.navbar-custom.affix {
    height: 200px !important; }

  #masthead {
    margin-top: 50px; } }
.thin-border {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.13);
  padding: 1px;
  margin-left: -2px;
  margin-right: -2px; }

.blog-separator {
  clear: both;
  border-bottom: 1px solid #ddd;
  padding-top: 2px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 2px;
  height: 2px; }

footer {
  color: #8e8e8e;
  background-color: #f9f9f9; }
  footer h3, footer h4, footer h5, footer h6 {
    color: #8e8e8e; }
  footer a {
    color: #5199a8; }
    footer a:visited {
      color: #5199a8; }
    footer a:hover {
      color: #484848; }
  footer .site-info {
    font-size: 0.8em; }

#colophon h1, #colophon h2, #colophon h3, #colophon h4, #colophon h5, #colophon h6 {
  color: #8e8e8e; }
#colophon h2 {
  font-size: 1.5em; }
#colophon p {
  font-size: 0.9em;
  text-align: left; }
#colophon a {
  color: #5199a8; }
  #colophon a:visited {
    color: #5199a8; }
  #colophon a:hover {
    color: #484848; }

.entry-footer {
  color: #404040;
  background-color: #ffffff; }
  .entry-footer a {
    color: #404040; }
    .entry-footer a:visited {
      color: #404040; }

.column-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8em; }

header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #6a6a6a; }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      text-transform: none;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px; }

@media (min-width: 992px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      text-transform: none;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px; } }
#header-full-width {
  padding: 0;
  margin-top: 0; }
  #header-full-width .full-width-header-text {
    font-size: 50px;
    text-align: center; }
  @media screen and (max-width: 991px) {
    #header-full-width {
      margin-top: 35px; } }

.header-full-width section {
  padding: 0; }

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px; }

h2.entry-title {
  margin-bottom: 0; }

.entry-meta {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 2px 0; }

.entry-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px; }

ul, ol {
  text-align: left;
  margin: 0 0 1em 1em; }

ul {
  list-style: disc; }
  ul li {
    list-style-type: disc; }

ol {
  list-style: decimal;
  padding-left: 0; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

#colophon ul li {
  list-style-type: none; }
  #colophon ul li:before {
    font-family: FontAwesome;
    content: "";
    float: left;
    padding-right: 0.5em;
    font-size: 0.5em;
    padding-top: 0.9em; }
  #colophon ul li ul li {
    list-style-type: none; }
    #colophon ul li ul li:before {
      font-family: FontAwesome;
      content: "";
      float: left;
      padding-right: 0.5em;
      font-size: 0.5em;
      padding-top: 0.9em; }

h1.entry-title,
h2.entry-title {
  text-align: left; }

h1.entry-title {
  font-size: 1.7em; }

h2.entry-title {
  font-size: 1.6em; }

@media screen and (max-width: 768px) {
  h1.site-title {
    font-size: 20px; } }

#secondary {
  margin-top: 30px; }
  #secondary h1, #secondary h2, #secondary h3 {
    color: #484848; }
  #secondary h1 {
    font-size: 1.7em; }
  #secondary h2 {
    font-size: 1.6em; }
  #secondary h3 {
    font-size: 1.5em; }
  #secondary p {
    font-size: 15px; }

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

#secondary ul {
  margin-left: 0; }

.widget_archive ul li,
.widget_categories ul li {
  list-style-type: none; }

/*
*
* Fix twitter share button
*
*/
.sharedaddy {
  margin-top: 20px; }
  .sharedaddy .twitter-share-button {
    margin-top: 0; }

/*line divider in multi-select*/
.separator {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: .625em 0; }

.banner-content h1 {
  font-size: 48px;
  color: #ffffff !important; }
  @media screen and (max-width: 1200px) {
    .banner-content h1 {
      font-size: 36px; } }
  @media screen and (max-width: 835px) {
    .banner-content h1 {
      font-size: 24px; } }
.banner-content p {
  font-size: 22px;
  font-family: Raleway, san-serif;
  color: #ffffff;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 1200px) {
    .banner-content p {
      font-size: 16px; } }
  @media screen and (max-width: 835px) {
    .banner-content p {
      font-size: 14px; } }
.banner-content a {
  font-size: 16px;
  font-family: Raleway, san-serif;
  color: #ffffff;
  text-transform: uppercase; }
  @media screen and (max-width: 1200px) {
    .banner-content a {
      font-size: 14px; } }
  @media screen and (max-width: 835px) {
    .banner-content a {
      font-size: 12px; } }

@media (max-width: 991px) {
  #site-navigation {
    min-height: 75px; }

  #header-full-width {
    margin-top: 75px !important; }

  .banner-slider img {
    min-height: 300px;
    max-width: initial !important;
    width: initial !important; } }
@media (max-width: 768px) {
  .row.slider-width {
    margin-top: 0 !important; }

  .header-full-width section {
    margin-top: 0 !important; } }
@media (max-width: 1060px) {
  .nav > li > a {
    padding: 10px 6px; } }

/*# sourceMappingURL=style.css.map */
