
@media (min-width: $bp-tablet-desktop ) {
  .header-full-width section {
    padding: 0;
  }
}
@media (max-width: $bp-mobile-tablet ) {
  .header-full-width section {
    margin-top: 50px;
  }
}
@media (max-width: 414px ) {
  .header-full-width section {
    margin-top: 122px;
  }
}
@media (max-width: 385px ) {
  .header-full-width section {
    margin-top: 150px;
  }
} 
@media (max-width: 375px ) {
  .header-full-width section {
    margin-top: 150px;
  }
} 