$bp-tablet-desktop: 992px ;
$bp-mobile-tablet: 768px;

$page-builder-product-tablet-desktop: 780px;

/*
 *  Adjustment breakpoints
*/

/*
 * Adjust logo position
 */

$bp-adjust-logo-1: 1160px;

/*
 * This is the width at which the menu padding is reduced
 * to avoid wrapping.
 */
/*
$bp-squeeze-menu: 1135px;
$bp-squeeze-menu-2: 1065px;
$bp-squeeze-menu-3: 1035px;
Set to 0 to disable.
*/
$bp-squeeze-menu: 0;
$bp-squeeze-menu-2: 0;
$bp-squeeze-menu-3: 0;

