/* from 'agency template */
// Variables

// Gray and Brand Colors for use across theme


$gray-base:			#484848 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default; // #222
$gray-dark:			lighten($gray-base, 20%) !default;   // #333
$gray:				lighten($gray-base, 33.5%) !default; // #555
$gray-light:		#8e8e8e !default;
$gray-lighter:		#f6f6f6;
$gray-lightest:		#f9f9f9;



$theme-primary:    #5199a8;
$theme-primary-light: lighten($theme-primary, 5%);
$theme-primary-lighter: lighten($theme-primary, 8%);

$theme-danger:     #e74c3c;
$theme-white:      #ffffff;
$theme_color_filter: rgba(81,153,168,0.5);
$theme_secondary: #050200;

// TODO: standardize on hyphen for sass variable names.
$theme_accent_color: #d0991b;
$theme-accent-color: $theme_accent_color;
$theme-accent-color-light: lighten( $theme-accent-color, 20% );

$theme_light_gray: #f7f7f7;
$theme_header_font_color: $gray-darker;
$theme-preloader-background-color: #ededee;


$theme_background_color: $theme_white;
$theme_button_text_color: $theme_white;

$site-title-color: $gray-base;

$footer-color: $gray-light;
$footer-background-color: $gray_lightest;

$nav-color: $gray-light;
$nav-hover-color: $theme-primary-lighter;
$nav-background-color: $theme-white;
$nav-hover-background-color: $gray-lighter;
$nav-color-inverted: $theme_white;
$nav-hover-color-inverted: lighten( $theme_primary, 30%);
$nav-background-color-inverted: rgba(0,0,0,0.2);

$nav-toggle-button-color: $nav-background-color;
$nav-toggle-button-hover-color:  $nav-background-color;
$nav-toggle-button-text-color: $theme-primary;
$nav-toggle-button-text-hover-color: $theme-primary-lighter;




$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $theme-primary;
$color__link-visited: $theme-primary;
$color__link-hover: $theme-primary-lighter;
$color__text-main: #404040;
$theme-text-color: $color__text-main;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// colors from Divi-child

//$theme_color: #256117;
