$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$primary_navigation_font_size: 13px;
$site-title-font-size: 36px;
$product_excerpt_font_size: 16px;

$theme-header-font-family: 'Ubuntu Condensed', Helvetica, Ariel, sans-serif;
