#primary-menu {

  &:before {
    content: "\2014\2014";
    letter-spacing: -4px;
    margin-top: 14px;
    display: inline-flex;
    float: left;
    font-weight: 100;
    padding-right: 40px;
    color: $nav-color;
  }

  &:after {
    content: "\2014\2014";
    letter-spacing: -4px;
    margin-top: 14px;
    display: inline-flex;
    font-weight: 100;
    padding-left: 40px;
    color: $nav-color ;
  }

  a {
    color: $nav-color;
    &:hover {
      background-color: $nav-hover-background-color;
      color: $nav-hover-color;
    }
  }
}

.main-navigation {
	clear: both;
	display: block;
	float: none;
	width: 100%;
    font-size: $primary_navigation_font_size;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

        li {
          list-style: none;
        }



		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 3em;
			left: -999em;
			z-index: 99999;
            line-height: 2.7;
            padding: 10px 0 0;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
                padding: 0 20px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 8em;
            top: 1em;
		}
	}

	li {
		float: left;
		position: relative;


		&:hover > a,
		&:focus > a {
          background-color: $nav-hover-background-color;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
      background-color: $nav-hover-background-color;
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}


	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// Custom Navigation Bar

.navbar-custom {
  background-color: $gray-darker;
  border-color: transparent;
  .navbar-brand {
    color: $theme-primary;
    @include script-font;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: darken($theme-primary, 10%);
    }
  }
  .navbar-collapse {
    border-color: fade-out(white, .02);
  }
  .navbar-toggle {
    background-color: $nav-toggle-button-color;
    color: $nav-toggle-button-text-color;
    border: none;
    box-shadow: none;
    @include heading-font;
    text-shadow: none;
    font-size: 1.7em;

    &:hover {
      background-color: $nav-toggle-button-hover-color !important;
      color: $nav-toggle-button-text-hover-color !important;
    }
    &:focus {
      background-color: $nav-toggle-button-hover-color !important;
      color: $nav-toggle-button-text-hover-color !important;

      &:after {
        font-family: FontAwesome;
        content: "\f00d";

      }
    }
    &:after {
      font-family: FontAwesome;
      content: "\f0c9";
      &:hover {
        color: $nav-toggle-button-text-hover-color !important;
      }
    }
  }
  .navbar-toggle.collapsed {
    &:focus {
      background-color: $nav-toggle-button-color !important;
      color: $nav-toggle-button-text-color !important;

    }
    &:hover {
      background-color: $nav-toggle-button-hover-color !important;
      color: $nav-toggle-button-text-hover-color !important;
    }
    &:after {
      font-family: FontAwesome;
      content: "\f0c9";
    }

  }

  .nav {
    li {
      a {
        @include nav-heading-font;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        &:hover,
        &:focus {
          color: $theme-primary;
          outline: none;
        }
      }
    }
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: $theme-primary;
  }
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: white;
    background-color: darken($theme-primary, 10%);
  }
}


@media(min-width:$bp-tablet-desktop) {
	#site-navigation.navbar-custom {
		background-color: $nav-background-color;
        background-image: none;
		padding: 25px 0 0;
        height: $nav_height-before-scroll;
        @include logo-transition();
		border: none;
		.navbar-brand {
			font-size: 2em;
            width: 100%;
			img {
				margin-top: -50px;
                max-width: 80%;
			}

			@include logo-transition();
		}

        #primary-menu .sub-menu {
          background-color: $nav-background-color;
          a {
            background-color: $nav-background-color;
            text-transform: none;
            &:hover {
              background-color: $nav-hover-background-color;
            }
          }
        }

        .site-title {
          font-size: 2.5em;
          @include logo-transition();
        }
        .site-description {
          font-size: 1.5em;
          @include logo-transition();
        }
		.navbar-nav>.active>a {
			border-radius: 3px;
		}
        .inverted-logo {
          display: none;
          @include logo-transition();
        }
        .normal-logo {
          display: block;
          @include logo-transition();
        }

	}

    .main-navigation {
      ul {
        li:hover > ul,
        li.focus > ul {
          left: 1em;
          top: 2.4em;
        }
      }
    }

}

// Navbar Change on Scroll
@media(min-width:$bp-tablet-desktop) {
	#site-navigation.navbar-custom.affix {
		background-color: $nav-background-color ;
		padding: 10px 0 0;
        height: $nav-height-after-scroll;
		.navbar-brand {
			font-size: 1.5em;
            width: 80%;
			img {
				margin-top: -35px;
			}

		}

        #primary-menu .sub-menu {
          background-color: $nav-background-color;
          a {
            background-color: $nav-background-color;
            &:hover {
              background-color: $nav-hover-background-color;
            }
          }
        }
        .site-title {
            font-size: $site-title-font-size;
        }
        .site-description {
          font-size: 1.1em;
        }
        .inverted-logo {
          display: none;
        }
        .normal-logo {
          display: block;
        }
	}
}

@media( max-width: $bp-tablet-desktop - 1px  ) {

  .main-navigation li {
    float: none;
  }

  #primary-menu a {
    color: $nav-color;
    &:hover {
      color: $nav-hover-color;
    }
  }

  #primary-menu .sub-menu {
    background-color: $nav-background-color;
    a {
      background-color: $nav-background-color;
    }
  }


  #primary-menu-container {
    overflow: visible;
    width: 60%
  }

  #site-navigation {
    background-color: $nav-background-color;
    .container-fluid {
      background-color: $nav-background-color;
      width: 100%;
    }
  }
}

@media(min-width:$bp-adjust-logo-1 ) {
  #site-navigation.navbar-custom.affix {
    .navbar-brand {
      img {
        margin-top: -40px;
      }

    }
  }
}

/*
 * Accomodate WP dashboard tool bar.
 */
#site-navigation {
  // position: fixed;
  top: 0;
  @include admin-sticky-fix;
}

// This is necessary for this child-theme's navigation:
.admin-bar .main-navigation {
  top: 0 !important ;
}


/*
 * Adjust menu padding to avoid wrapping.
 */
@media ( max-width: $bp-squeeze-menu) {

  .navbar-nav > li >a {
    padding-left: 8px;
    padding-right: 8px;
  }

  .main-navigation ul {
    float: none !important;
  }

  #primary-menu-container {
    padding-left: 70px;
  }

  .home, .hero-layout{
    #primary-menu-container {
      padding-left: 55px;
    }
  }

}

@media ( max-width: $bp-squeeze-menu-2 ) {

  #primary-menu-container {
    padding-left: 45px;
  }

  .home, .hero-layout{
    #primary-menu-container {
      padding-left: 30px;
    }
  }

}

@media ( max-width: $bp-squeeze-menu-3 ) {

  #primary-menu-container {
    padding-left: 25px;
  }

  .home, .hero-layout{
    #primary-menu-container {
      padding-left: 0;
    }
  }

}

/*
 * Display utility icons horizontally at all times.
 */

.utility-set a {
  float: left;
}




