.site-title {
  margin-top: 0;

  a {
    color: $site-title-color;
    text-decoration: none;
  }

  a:visited {
    color: $site-title-color;
  }

}

p.site-description {
    color: $gray-darker;
}

@media(max-width:$bp-tablet-desktop) {
  .site-title a {
    margin-top: 2%;
  }
}
@media(max-width:414px) {
  .site-title a {
    margin-top: 0;
  }
}